.header {
  background-color: pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.grid-list {
  margin-top: 1rem;
  gap: 1rem;
  text-align: center;
}

.delete-btn {
  cursor:pointer;
  font-weight: bolder;
  font-size: 1.2em;
  position:absolute;
  right: 7px;
  top: 2px;
  color: palevioletred;
}
